body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2528 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u2528_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2528_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 247, 247, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2529_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 17, 17, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2529.selected {
}
#u2529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:7px;
  width:93px;
  height:43px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2531 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2531_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2531.selected {
}
#u2531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:7px;
  width:17px;
  height:20px;
  display:flex;
}
#u2532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2532_img.selected {
}
#u2532.selected {
}
#u2532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:5px;
  width:94px;
  height:45px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2534 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2534_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2534.selected {
}
#u2534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:7px;
  width:20px;
  height:20px;
  display:flex;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2535_img.selected {
}
#u2535.selected {
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:5px;
  width:12px;
  height:12px;
  display:flex;
}
#u2536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2536_img.selected {
}
#u2536.selected {
}
#u2536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:8px;
  width:94px;
  height:42px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2538 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2538_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2538.selected {
}
#u2538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:8px;
  width:20px;
  height:18px;
  display:flex;
}
#u2539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2539_img.selected {
}
#u2539.selected {
}
#u2539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:94px;
  height:42px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2541 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2541_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u2541.selected {
}
#u2541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:8px;
  width:18px;
  height:18px;
  display:flex;
}
#u2542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2542_img.selected {
}
#u2542.selected {
}
#u2542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:460px;
  width:45px;
  height:45px;
  display:flex;
}
#u2544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:345px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:100px;
  width:345px;
  height:345px;
  display:flex;
}
#u2545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:460px;
  width:70px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u2546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:485px;
  width:111px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u2547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#555555;
  line-height:25px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:520px;
  width:345px;
  height:50px;
  display:flex;
  font-size:15px;
  color:#555555;
  line-height:25px;
}
#u2548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:520px;
  width:15px;
  height:15px;
  display:flex;
}
#u2549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:555px;
  width:15px;
  height:15px;
  display:flex;
}
#u2550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:36px;
  height:36px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:264px;
  width:16px;
  height:16px;
  display:flex;
}
#u2551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:4px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:485px;
  width:15px;
  height:4px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2553 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:475px;
  width:20px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
}
#u2557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2558 {
  position:absolute;
  left:340px;
  top:58px;
}
#u2558_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2558_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  display:flex;
}
#u2559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2558_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2558_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  display:flex;
}
#u2560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:58px;
  width:18px;
  height:18px;
  display:flex;
}
#u2561 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:50px;
  width:35px;
  height:35px;
  display:flex;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:57px;
  width:32px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u2563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:57px;
  width:32px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u2564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:57px;
  width:32px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u2565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 0px 0px rgba(255, 255, 255, 0.933333333333333);
  -webkit-text-shadow:0px 0px 0px rgba(255, 255, 255, 0.933333333333333);
  -moz-text-shadow:0px 0px 0px rgba(255, 255, 255, 0.933333333333333);
  text-transform:none;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:145px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:590px;
  width:345px;
  height:145px;
  display:flex;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
