body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u716 {
  position:fixed;
  left:0px;
  top:0px;
}
#u716_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  display:flex;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:58px;
  width:18px;
  height:18px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:57px;
  width:54px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
  line-height:20px;
}
#u721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:58px;
  width:11px;
  height:18px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:100px;
  width:173px;
  height:35px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u724_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(52, 120, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u724.selected {
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:100px;
  width:172px;
  height:35px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u725_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(52, 120, 246, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
  line-height:25px;
}
#u725.selected {
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
.u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
  display:flex;
}
.u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u726-2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:118px;
  height:118px;
}
#u726-3 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:118px;
  height:118px;
}
#u726-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:118px;
  height:118px;
}
#u726-5 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:123px;
  width:118px;
  height:118px;
}
#u726-6 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:123px;
  width:118px;
  height:118px;
}
#u726-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:118px;
  height:118px;
}
#u726-8 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:246px;
  width:118px;
  height:118px;
}
#u726-9 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:246px;
  width:118px;
  height:118px;
}
#u726-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:118px;
  height:118px;
}
#u726-11 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:369px;
  width:118px;
  height:118px;
}
#u726-12 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:369px;
  width:118px;
  height:118px;
}
#u726-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:492px;
  width:118px;
  height:118px;
}
#u726-14 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:492px;
  width:118px;
  height:118px;
}
#u726-15 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:492px;
  width:118px;
  height:118px;
}
#u726-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:615px;
  width:118px;
  height:118px;
}
#u726-17 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:615px;
  width:118px;
  height:118px;
}
#u726-18 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:615px;
  width:118px;
  height:118px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:140px;
  width:364px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:883px;
  width:28px;
  height:18px;
  display:flex;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:873px;
  width:35px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
