body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:365px;
  background:-webkit-linear-gradient(270deg, rgba(74, 77, 117, 1) 0%, rgba(112, 114, 128, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(74, 77, 117, 1) 0%, rgba(112, 114, 128, 1) 100%);
  background:linear-gradient(180deg, rgba(74, 77, 117, 1) 0%, rgba(112, 114, 128, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:365px;
  display:flex;
  line-height:20px;
}
#u2989 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:375px;
  height:50px;
  display:flex;
  line-height:20px;
}
#u2990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:100px;
  width:80px;
  height:80px;
  display:flex;
}
#u2991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  line-height:25px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:105px;
  width:120px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  line-height:25px;
}
#u2992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  line-height:15px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:140px;
  width:104px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
  line-height:15px;
}
#u2993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2994 {
  position:absolute;
  left:230px;
  top:270px;
}
#u2994_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2994_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 82, 82, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  color:#FFFFFF;
  line-height:20px;
}
#u2995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2994_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2994_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.6);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.6);
  line-height:20px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  color:rgba(255, 255, 255, 0.6);
  line-height:20px;
}
#u2996 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#F2F2F2;
  line-height:15px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:200px;
  width:117px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#F2F2F2;
  line-height:15px;
}
#u2997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2997_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:335px;
  width:95px;
  height:20px;
  display:flex;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2998_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2998.selected {
}
#u2998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:335px;
  width:95px;
  height:20px;
  display:flex;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2999_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u2999.selected {
}
#u2999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:3px;
  background:inherit;
  background-color:rgba(52, 120, 246, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:362px;
  width:25px;
  height:3px;
  display:flex;
  line-height:20px;
}
#u3000 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:595px;
  width:173px;
  height:90px;
  display:flex;
  line-height:20px;
}
#u3002 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:215px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:380px;
  width:172px;
  height:215px;
  display:flex;
}
#u3003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:605px;
  width:153px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u3004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:657px;
  width:58px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3005 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3005_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:655px;
  width:20px;
  height:20px;
  display:flex;
}
#u3006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:660px;
  width:14px;
  height:9px;
  display:flex;
}
#u3008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:657px;
  width:15px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:595px;
  width:173px;
  height:90px;
  display:flex;
  line-height:20px;
}
#u3011 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:215px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:380px;
  width:173px;
  height:215px;
  display:flex;
}
#u3012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:605px;
  width:153px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:20px;
}
#u3013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:657px;
  width:58px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3014 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3014_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:660px;
  width:14px;
  height:9px;
  display:flex;
}
#u3016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:657px;
  width:22px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#999999;
  line-height:15px;
}
#u3017 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3017_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:655px;
  width:20px;
  height:20px;
  display:flex;
}
#u3018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  line-height:15px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:160px;
  width:71px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
  line-height:15px;
}
#u3019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
}
#u3021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:58px;
  width:11px;
  height:18px;
  display:flex;
}
#u3023 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:265px;
  width:60px;
  height:20px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:60px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:265px;
  width:60px;
  height:20px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3028 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:290px;
  width:60px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3029 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.247058823529412);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#EA8E05;
  line-height:18px;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:230px;
  width:35px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#EA8E05;
  line-height:18px;
}
#u3030 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:265px;
  width:60px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u3032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:290px;
  width:60px;
  height:15px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u3033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.247058823529412);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#84C1F9;
  text-align:right;
  line-height:18px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:230px;
  width:40px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#84C1F9;
  text-align:right;
  line-height:18px;
}
#u3034 .text {
  position:absolute;
  align-self:center;
  padding:0px 6px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:234px;
  width:12px;
  height:12px;
  display:flex;
}
#u3035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.6);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  line-height:20px;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:270px;
  width:40px;
  height:30px;
  display:flex;
  color:#F2F2F2;
  line-height:20px;
}
#u3036 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:59px;
  width:17px;
  height:20px;
  display:flex;
}
#u3037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:276px;
  width:18px;
  height:18px;
  display:flex;
}
#u3038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:59px;
  width:18px;
  height:18px;
  display:flex;
}
#u3039 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:755px;
  width:125px;
  height:57px;
  display:flex;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
}
#u3041 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 0px 27px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
