body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u4517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4519 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:255px;
  width:255px;
  height:290px;
  display:flex;
  line-height:20px;
}
#u4519 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1990FF;
  line-height:20px;
}
#u4520 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:295px;
  width:72px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1990FF;
  line-height:20px;
}
#u4520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(245, 154, 35, 1) 0%, rgba(255, 142, 63, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(245, 154, 35, 1) 0%, rgba(255, 142, 63, 1) 100%);
  background:linear-gradient(90deg, rgba(245, 154, 35, 1) 0%, rgba(255, 142, 63, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:20px;
}
#u4521 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:435px;
  width:175px;
  height:40px;
  display:flex;
  font-size:16px;
  line-height:20px;
}
#u4521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u4522 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:500px;
  width:155px;
  height:20px;
  display:flex;
  color:#999999;
  text-align:center;
}
#u4522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6C4204;
  line-height:20px;
}
#u4523 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:340px;
  width:75px;
  height:20px;
  display:flex;
  font-size:15px;
  color:#6C4204;
  line-height:20px;
}
#u4523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4523_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FF9900;
  line-height:35px;
}
#u4524 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:375px;
  width:60px;
  height:35px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FF9900;
  line-height:35px;
}
#u4524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6C4204;
  line-height:20px;
}
#u4525 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:388px;
  width:26px;
  height:20px;
  display:flex;
  font-size:13px;
  color:#6C4204;
  line-height:20px;
}
#u4525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4527 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:270px;
  width:14px;
  height:14px;
  display:flex;
}
#u4527 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
