body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:712px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:25px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:712px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:25px;
}
#u1649 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:45px;
  background:-webkit-linear-gradient(0deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  background:-moz-linear-gradient(90deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  background:linear-gradient(90deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:740px;
  width:345px;
  height:45px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:121px;
  width:14px;
  height:14px;
  display:flex;
}
#u1652 .text {
  position:absolute;
  align-self:center;
  padding:25px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
#u1657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF5252;
  text-align:center;
  line-height:20px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FF5252;
  text-align:center;
  line-height:20px;
}
#u1658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF5252;
  text-align:center;
  line-height:20px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:160px;
  width:47px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FF5252;
  text-align:center;
  line-height:20px;
}
#u1659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  line-height:20px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:375px;
  height:35px;
  display:flex;
  font-size:18px;
  color:#000000;
  line-height:20px;
}
#u1660 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  display:flex;
  font-size:17px;
  line-height:20px;
}
.u1662 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 10px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1662_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  background:-moz-linear-gradient(90deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  background:linear-gradient(90deg, rgba(52, 120, 246, 1) 0%, rgba(2, 167, 240, 1) 99%);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1662.selected {
}
.u1662_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1662.disabled {
}
.u1662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1661-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-3 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-4 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-5 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-6 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-7 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:47px;
  height:60px;
}
#u1661-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-9 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-10 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-11 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-12 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-13 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-14 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:65px;
  width:47px;
  height:60px;
}
#u1661-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-16 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-17 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-18 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-19 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-20 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-21 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:130px;
  width:47px;
  height:60px;
}
#u1661-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-23 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-24 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-25 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-26 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-27 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-28 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:195px;
  width:47px;
  height:60px;
}
#u1661-29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:47px;
  height:60px;
}
#u1661-30 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:260px;
  width:47px;
  height:60px;
}
#u1661-31 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:260px;
  width:47px;
  height:60px;
}
#u1661-32 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:260px;
  width:47px;
  height:60px;
}
#u1661-33 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:260px;
  width:47px;
  height:60px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:235px;
  width:359px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  line-height:20px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:565px;
  width:375px;
  height:35px;
  display:flex;
  font-size:18px;
  color:#000000;
  line-height:20px;
}
#u1663 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  display:flex;
  font-size:17px;
  line-height:20px;
}
.u1665 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1665_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1665.selected {
}
.u1665_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:20px;
}
.u1665.disabled {
}
.u1665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1664-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-3 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-4 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-5 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-6 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-7 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:47px;
  height:60px;
}
#u1664-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-9 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-10 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-11 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-12 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-13 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664-14 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:65px;
  width:47px;
  height:60px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:610px;
  width:359px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:463px;
  width:20px;
  height:15px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:528px;
  width:20px;
  height:15px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1667_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
