body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1139_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  overflow:hidden;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
}
#u1141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:375px;
  height:165px;
  display:flex;
}
#u1142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:70px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1143_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:70px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:70px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:375px;
  width:305px;
  height:70px;
  display:flex;
  font-size:15px;
}
#u1143 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1143_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1143.disabled {
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3478F6;
  text-align:right;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:420px;
  width:28px;
  height:15px;
  display:flex;
  color:#3478F6;
  text-align:right;
}
#u1144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1144_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3478F6;
  text-align:right;
}
#u1144.disabled {
}
#u1144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:134px;
  height:80px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:67px;
  width:114px;
  height:60px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  line-height:30px;
}
#u1145 .text {
  position:absolute;
  align-self:center;
  padding:15px 25px 15px 25px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1146 label {
  left:0px;
  width:100%;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:459px;
  width:80px;
  height:18px;
  display:flex;
  line-height:18px;
}
#u1146 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
}
#u1146_img.selected {
}
#u1146.selected {
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:65px;
  word-wrap:break-word;
  text-transform:none;
}
#u1146_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:322px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:375px;
  height:322px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:340px;
  width:52px;
  height:20px;
  display:flex;
  line-height:20px;
}
#u1149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:335px;
  width:97px;
  height:30px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u1150 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:335px;
  width:97px;
  height:30px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u1151 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:335px;
  width:97px;
  height:30px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u1152 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:459px;
  width:18px;
  height:18px;
  display:flex;
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:459px;
  width:18px;
  height:18px;
  display:flex;
}
#u1154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:460px;
  width:16px;
  height:16px;
  display:flex;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:385px;
  width:18px;
  height:18px;
  display:flex;
}
#u1156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
